@tailwind base;
@tailwind components;
@tailwind utilities;

/* Tipografías globales */
body {
  margin: 0;
  font-family: 'Nunito', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

h1, h2, h3, h4, h5, h6, th {
  font-family: 'Montserrat', sans-serif;
}

html, body, #root, .App {
  background-color: #262026;
  min-height: 100vh;
}

